/* darTheme.css */

pre {
    background-color: #0d1117;
    padding: 30px 20px;
    border-radius: 10px;
}
code {
    color: #fff;
}

blockquote p {
    border-left: 5px grey solid;
    padding-left: 30px;
    font-weight: bold;
}
